<div id="welcomeIcons">
  <div class="row">
    <div class="col-xs-12">
      <div id="top-icon-row">
        <div class="col-xs-2 col-sm-2 center">
          <i class="fa fa-camera"></i>
        </div>
        <div class="col-xs-2 col-sm-2 center">
          <i class="fa fa-dropbox"></i>
        </div>
        <div class="col-xs-2 col-sm-2 center">
          <i class="fa fa-vine"></i>
        </div>
        <div class="col-xs-2 col-sm-2 center">
          <i class="fa fa-android"></i>
        </div>
        <div class="col-xs-2 col-sm-2 center">
          <i class="fa fa-google-wallet"></i>
        </div>
        <div class="col-xs-2 col-sm-2 center">
          <i class="fa fa-trello"></i>
        </div>
      </div>

      <div id="middle-top-icon-row">
        <div class="col-xs-2 col-sm-2 center">
          <i class="fa fa-spotify"></i>
        </div>
        <div class="col-xs-2 col-sm-2 center">
          <i class="fa fa-skype"></i>
        </div>
        <div class="col-xs-4 col-sm-4 center">
          <%= link_to user_omniauth_authorize_path("twitter"), :class=>"" do%>
            <span class="mainlogo"><span class="black">Black</span><span class="yellow">Box</span></span>
          <%end%>
        </div>
        <div class="col-xs-2 col-sm-2 center">
          <i class="fa fa-facebook"></i>
        </div>
        <div class="col-xs-2 col-sm-2 center">
          <i class="fa fa-medium"></i>
        </div>
      </div>

      <div id="middle-bottom-icon-row">
        <div class="col-xs-2 col-sm-2 center">
          <i class="fa fa-youtube"></i>
        </div>
        <div class="col-xs-2 col-sm-2 center">
          <i class="fa fa-tumblr"></i>
        </div>
        <div class="col-xs-4 col-sm-4">
        </div>
        <div class="col-xs-2 col-sm-2 center">
          <i class="fa fa-soundcloud"></i>
        </div>
        <div class="col-xs-2 col-sm-2 center">
          <i class="fa fa-reddit"></i>
        </div>
      </div>
      <div id="top-icon-row">
        <div class="col-xs-2 col-sm-2 center">
          <i class="fa fa-slack"></i>
        </div>
        <div class="col-xs-2 col-sm-2 center">
          <i class="fa fa-linkedin"></i>
        </div>
        <div class="col-xs-2 col-sm-2 center">
          <i class="fa fa-twitter"></i>
        </div>
        <div class="col-xs-2 col-sm-2 center">
          <i class="fa fa-foursquare"></i>
        </div>
        <div class="col-xs-2 col-sm-2 center">
          <i class="fa fa-instagram"></i>
        </div>
        <div class="col-xs-2 col-sm-2 center">
          <i class="fa fa-github"></i>
        </div>
      </div>
      <!-- <%= link_to user_omniauth_authorize_path("twitter"), :class=>"" do%>
        <span class="center mainlogo">
          <span class="black">Black</span><span class="yellow">Box</span><br>
          <span class="mainSignin">
              Sign In
          </span>
        </span>
      <%end%> -->
    </div>
  </div>
</div>
<h1 class="center">Your Life <span class="yellow"> Improved </span></h1>

