 <div class="row">
  <div class="col-xs-12">
    <%= image_tag("https://wesleyvance.s3.amazonaws.com/uploads/content_attachment/image/11/HeartBeat_Header.png", :class=>"heartWide img-responsive") %>
  </div>
</div>

<div class="container-fluid">
  <div id="annimation">
    <section class="cd-intro">
      <h1 class="cd-headline clip is-full-width">
        <span>Your Heart</span>
        <span class="cd-words-wrapper">
          <b class="is-visible">Visualized</b>
          <b class="is-hidden">Understood</b>
          <b class="is-hidden yellow heavy">Improved</b>
        </span>
      </h1>
    </section>
  </div>
</div>
<div class="container">
  <div class="row" id="aboutTeam">

    <div class="col-xs-12 col-md-4 center">
      <%= image_tag "jose_profile.jpg", class: "img-circle", width: 125, height:125%>
      <h2>Jose <span class="yellow">Manriquez</span></h2>

      <h5 class="teamBio">
        <hr>
        Jose Manriquez is senior at Texas A&M University getting a Bachelor of Science in Computer Science with a minor in Business. He currently works for the Texas A&M Science Center and serves as the web and application developer for the team. At Beat<span class="yellow">Wise</span> Jose is creating a classifier in python!
        <hr>
      </h5>
    </div>
    <div class="col-xs-12 col-md-4 center">
      <%= image_tag "wesley_profile.jpg", class: "img-circle", width: 125, height:125%>
      <h2>Wesley <span class="yellow">Vance</span></h2>
      <!-- <h5><i class="fa fa-twitter"></i></h5> -->
      <h5 class="teamBio">
        <hr>
        Wes loves spending his time mentoring student startups at Texas A&M University. He loves solving problems and creating new products! Here at Beat<span class="yellow">Wise</span> Wes is the lead Rails developer, so if you have a bug or feature request, shoot it over to him!
        <hr>
      </h5>
    </div>
    <div class="col-xs-12 col-md-4 center">
      <%= image_tag "nick_profile.jpg", class: "img-circle", width: 125, height:125%>
      <h2>Nick <span class="yellow">Parkes</span></h2>
      <!-- <h5><i class="fa fa-twitter"></i></h5> -->
      <h5 class="teamBio">
        <hr>
        Nick hasnt given me a bio yet, so he gets this lame description instead of some cool text... Booo...
        <hr>
      </h5>
    </div>
  </div>
</div>
