<% if @userContent.present? %>
  <div class="container-fluid">
    <div id="map" class="mapSection", data-url="/welcome/index.json"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <%= geo_chart @alluserContent.group(:country).count %>
      </div>
      <div class="col-sm-6">
        <%= pie_chart @alluserContent.group(:provider).count %>
      </div>
      <hr>
      <%= link_to "Export Timeline", root_path(:format => :csv ), :class=>"btn btn-secondary pull-right" %>
      <h1> Timeline</h1>
      <% if @userContent.present?%>
        <%= render :partial => 'layouts/table', :locals => {:collection => @userContent}%>
      <%end%>
    </div>
  </div>
<%end%>
