$(".content.show").ready ->
  console.log("Success Loading Contents show")
  L.mapbox.accessToken = '<%= Figaro.env.mapbox_token %>';
  map = L.mapbox.map('contentMap', 'wesvance.n3ejgh0a', {
    zoomControl: false
    maxZoom: 14
  })

  map.touchZoom.disable();
  map.doubleClickZoom.disable();
  map.scrollWheelZoom.disable();
  map.attributionControl = false;

  $link = $('#contentMap').data('url')
  console.log($link)
  featureLayer = L.mapbox.featureLayer().loadURL($link).addTo(map);

  featureLayer.on 'ready', (e) ->
    map.fitBounds(featureLayer.getBounds(), {padding: [100,100]});

  # featureLayer.addTo(map);

  # add custom popups to each marker
  featureLayer.on 'layeradd', (e) ->
    marker = e.layer
    properties = marker.feature.properties

    # create custom popup
    popupContentImage =  '<div class="popup row">' +
                          '<div class="col-xs-7">' +
                            '<a href="' + properties.external_link + '">' +
                              '<h6>' + properties.title + '</h6>' +
                              '<p>'  + properties.body.substring(0,125) + "..." + '</p>' +
                            '</a>' +
                          '</div>' +
                          '<div class="col-xs-5 popupImage">' +
                            '<img src="' + properties.image + '" class="img-fluid center-block">' +
                            '</img>' +
                          '</div>' +
                        '</div>'
    popupContentText = '<div class="popup row">' +
                          '<div class="col-xs-12">' +
                            '<a href="' + properties.external_link + '">' +
                              '<h6>' + properties.title + '</h6>' +
                              '<p>'  + properties.body.substring(0,125) + "..." + '</p>' +
                            '</a>' +
                          '</div>' +
                        '</div>'

    if properties.image != " "
      popupContent = popupContentImage
    else
      popupContent = popupContentText

    # http://leafletjs.com/reference.html#popup
    marker.bindPopup popupContent,
      closeButton: false
      minWidth: 200
      keepInView: true

  featureLayer.on 'click', (e) ->
    map.panTo(e.layer.getLatLng());
    e.layer.openPopup();

  featureLayer.on 'mouseover', (e) ->
    e.layer.openPopup();
