$(".content.show").ready ->
  console.log("Success Loading Contents show")
  L.mapbox.accessToken = '<%= Figaro.env.mapbox_token %>';
  map = L.mapbox.map('contentMap', 'wesvance.n3ejgh0a', {
    zoomControl: false
    maxZoom: 14
  })

  map.touchZoom.disable();
  map.doubleClickZoom.disable();
  map.scrollWheelZoom.disable();
  map.attributionControl = false;

  # get JSON object
  # on success, parse it and
  # hand it over to MapBox for mapping
  # OLD WAY OF DOING IT?

  # $.ajax
  #   dataType: 'text'
  #   url: '/welcome/index.json'
  #   success: (data) ->
  #     geojson = $.parseJSON(data)
  #     map.featureLayer.setGeoJSON(geojson)

  $link = $('#contentMap').data('url')
  console.log($link)
  featureLayer = L.mapbox.featureLayer().loadURL($link).addTo(map);

  featureLayer.on 'ready', (e) ->
    map.fitBounds(featureLayer.getBounds(), {padding: [100,100]});

  # featureLayer.addTo(map);

  # add custom popups to each marker
  featureLayer.on 'layeradd', (e) ->
    marker = e.layer
    properties = marker.feature.properties

    # create custom popup
    popupContent =  '<div class="popup">' +
                    '<a href="' + properties.external_link + '">' +
                        '<h6>' + properties.title + '</h6>' +
                        '<p>'  + properties.body.substring(0,125) + "..." + '</p>' +
                        '</a>' +
                      '</div>'

    # http://leafletjs.com/reference.html#popup
    marker.bindPopup popupContent,
      closeButton: false
      minWidth: 200
      keepInView: true

  featureLayer.on 'click', (e) ->
    map.panTo(e.layer.getLatLng());
    e.layer.openPopup();

  featureLayer.on 'mouseover', (e) ->
    e.layer.openPopup();
