// Place all the styles related to the Channel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';

#channelsList{
  i.fa{
    font-size: 60px;
    margin: .2em .4em;
  }
  .yellow{
    color:$yellow;
  }
}

#fitbitChannel{
  #fitbitGraph{
    width:100%;
    text-align: center;
    padding:30px;
    .axis path,
    .axis line {
      fill:none;
      stroke: black;
      shape-rendering: crispEdges;
    }
    .axis text{
      font-family: sans-serif;
      font-size: 10px;
    }
    h1{
      font-family: sans-serif;
      font-weight: 300;
      font-size: 18px;
    }
    div.tooltip{
      position: absolute;
      max-width: 200px;
      height:auto;
      padding:5px;
      background-color: white;
      border-radius: 5px;
      box-shadow:4px 4px 10px rgba(0,0,0,0.5);
      pointer-events: none; /* Very important */
      font-family: sans-serif;
      font-size: 12px;
    }
  }
}

#signedOutChannel{
  position:static;
  width:100%;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  #channelHeader{
  }
  .channelRequests{
  }
}
