#logInSignUp{
  margin:1.5em auto;
  position:static;
  width:500px;
  height:100%;
  border-color:black;
  margin-left: auto;
  margin-right: auto;
  #signInForm{

  }
  #signUpForm{

  }
  #logInSignUpNav{

  }
}
#signInHeader{
  margin: 1em auto;
}
