html{
  max-width:100%;
  overflow-x: hidden;
  overflow-y: scroll;
  body{
    height:100vh;
    -webkit-overflow-scrolling: touch;
    .center{
      text-align: center;
      margin-right: auto;
      margin-left: auto;
    }
    .right{
      text-align: right;
      margin-right:0px;
      margin-left: auto;
    }
    .left{
      text-align: left;
      margin-right: auto;
      margin-right: 0px;
    }
    .row{
      margin-left: 0px;
      margin-right: 0px
    }
    a{
      color:black;
      text-decoration: none !important;
      -webkit-transition: all 500ms ease-out;
      -moz-transition: all 500ms ease-out;
      -ms-transition: all 500ms ease-out;
      -o-transition: all 500ms ease-out;
      transition: all 500ms ease-out;
    }
    a:hover{
      // color:yellow;
      -webkit-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      -ms-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease;
    }

    #bodyWrapper{
      padding-bottom: 90px;
      #flashWrapper{
        // position:fixed;
        // top:15px;
        // width:100%;
        // margin-right: auto;
        // margin-left: auto;
        // z-index: 9999;
      }
      #mainWrapper{
        .card-icon{
          width:100%;
          text-align: center;
          font-size: 50px;
        }
        .card-link{
          text-align:center;
        }
      }
    }
    #footerWrapper{
      background:white;
      position: fixed;
      padding-bottom:10px;
      bottom:0px;
      width:100%;
    }
  }
}
