@import 'variables';

html{
  max-width:100%;
  overflow-x: hidden;
  overflow-y: scroll;
  body{
    height:100vh;
    -webkit-overflow-scrolling: touch;
    h1, h2, h3, h4{
      font-family: 'Raleway', sans-serif;
      font-weight:300;
    }
    h4, h5, h6{
      font-family: 'Raleway', sans-serif;
      font-weight:300;
    }
    p{
      font-family: 'Raleway', sans-serif;
      font-weight:300;
      font-size: 18px;
      color: #696969;
      line-height: 30px;
    }

    .center{
      text-align: center;
      margin-right: auto;
      margin-left: auto;
    }
    .right{
      text-align: right;
      margin-right:0px;
      margin-left: auto;
    }
    .left{
      text-align: left;
      margin-right: auto;
      margin-right: 0px;
    }
    .row{
      margin-left: 0px;
      margin-right: 0px
    }
    a{
      color:black;
      text-decoration: none !important;
      -webkit-transition: all 500ms ease-out;
      -moz-transition: all 500ms ease-out;
      -ms-transition: all 500ms ease-out;
      -o-transition: all 500ms ease-out;
      transition: all 500ms ease-out;
    }
    a:hover{
      // color:yellow;
      -webkit-transition: all 500ms ease;
      -moz-transition: all 500ms ease;
      -ms-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease;
    }
    .flashNotices{
      position:fixed;
      top:15px;
      width:100%;
      margin-right: auto;
      margin-left: auto;
      z-index: 9999;
    }
    blockquote {
      border-left: 4px solid #FFCC00;
      color: #FFCC00;
      font-style: italic;
      margin: 30px 0 30px 15px;
      padding-left: 15px;
      p {
        -webkit-margin-before: 0em;
      }
    }

    #bodyWrapper{
      padding-bottom: 90px;
      #flashWrapper{
        // position:fixed;
        // top:15px;
        // width:100%;
        // margin-right: auto;
        // margin-left: auto;
        // z-index: 9999;
      }
      #mainWrapper{
        .card-icon{
          width:100%;
          text-align: center;
          font-size: 60px;
        }
        .card-link{
          text-align:left;
        }
      }
    }
  }
}
#footerWrapper{
  background:$grey;
  color:$white;
  position: relative;
  bottom:0px;
  left:0px;
  height:250px;
  width:100%;

  a{
    color:$white;
    text-decoration: none !important;
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -ms-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
  }
  a:hover{
    color:$yellow;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  .yellow{
    color:$yellow;
  }

  #lifeLogging{
    margin:3em auto;
    text-align: center;
    hr{
      width:50%;
    }
  }
  #aboutUs{
    margin:3em auto;
    text-align: center;
    hr{
      width:50%;
    }
  }
  #connectSocial{
    margin:3em auto;
    text-align: center;
    hr{
      width:50%;
    }
  }
  #topButton{
    position: absolute;
    right:30px;
    bottom:20px;
    font-size: 30px;
  }

}
