@import 'variables';

.searchContainer{
  margin: 50px auto;
  width: 100%;
  height: 50px;

  .search{
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
  }
  .search input#welcomeSearch{
    width:90%;
    height: 70px;
    background: $grey;
    border: none;
    font-size: 18pt;
    color: $white;
    padding-left: 65px;

    // ROUNEDED CORNERS
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
  }
  .search input#welcomeSearch::-webkit-input-placeholder {
     color: $white;
  }
  .search input#welcomeSearch:-moz-placeholder { /* Firefox 18- */
     color: $white;
  }
  .search input#welcomeSearch::-moz-placeholder {  /* Firefox 19+ */
     color: $white;
  }
  .search input#welcomeSearch:-ms-input-placeholder {
     color: $white;
  }
  .search .icon{
    position: absolute;
    font-size: 18pt;
    top: 0%;
    margin-left: 20px;
    margin-top: 17px;
    z-index: 1;
    color: $white;
  }
  .search input#welcomeSearch:hover, .search input#welcomeSearch:focus, .search input#welcomeSearch:active{
    outline:none;
    background: $lightGrey;
  }
}

#landingPageWrapper{
  .homeLogin{
    outline-width: 0;
  }
  .homeLogin:focus{
    outline: none;
  }
  #welcomeIcons{
    padding-top: 3vh;
    font-weight: 100;
  }
  .black{
    color:black;
  }
  .yellow{
    color:#FFBA00;
  }
  .heavy{
    font-weight: 200;
  }

  .mainlogo{
    position:relative;
    top: 3vw;
    font-size: 5vw;
    z-index: 999;
  }
  .mainSignin{
    position:relative;
    right:auto;
    left:auto;
    font-size: 2vw;
  }
  #welcomeIcons{
    i{
      font-size: 8vw;
      color:$grey;
    }
  }
}

// THIS IS FOR THE ANNIMATION
#annimation{
  text-align: center;
  .cd-title {
    position: relative;
    height: 160px;
    line-height: 230px;
    text-align: center;
  }

  .cd-intro {
    width: 90%;
    // max-width: 800px;
    text-align: center;
  }

  .cd-intro {
    margin: 2em auto;

  }

  .cd-headline {
    font-size: 3rem;
    line-height: 1.2;
  }

  .cd-words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left;

    b {
      display: inline-block;
      position: absolute;
      font-weight: 300;
      white-space: nowrap;
      left: 0;
      top: 0;

      &.is-visible {
        position: relative;
      }
    }

    .no-js & b {
      opacity: 0;

      &.is-visible {
        opacity: 1;
      }

    }
  }
  .cd-headline.clip {
    span {
      display: inline-block;
      padding: .2em 0;
    }

    .cd-words-wrapper {
      overflow: hidden;
      vertical-align: top;

      &::after {
        /* line */
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 2px;
        height: 100%;
        background-color: black;
      }
    }

    b {
      opacity: 0;

      &.is-visible {
        opacity: 1;
      }
    }
  }
}

#aboutTeam{
  margin: 3em auto;
  .teamBio{
    width:80%;
    margin-right: auto;
    margin-left: auto;
  }
}

.mapSection{
  margin-top: -20px;
  width:100%;
  height:400px;
}

.legend span {
  margin-top: -10px;
  display:block;
  float:left;
  height:15px;
  width:50%;
  text-align:center;
  font-size:9px;
  color:#696969;
}

