// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Raleway:100);

#welcomeIcons{
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  .black{
    color:black;
  }
  .yellow{
    color:#FFBA00;
  }
}
.mainlogo{
  position:absolute;
  font-size: 100px;
  padding-top:20px;
  padding-bottom:0px;
}
.mainSignin{
  position:absolute;
  right:0px;
  bottom:-10px;
  font-size: 40px;
}
#welcomeIcons{
  i{
    font-size: 100px;
  }
}

#welcomeWrapper{

}
