<div class="container-fluid">
  <div id="contentMap" class="contentsMapSection", data-url="/content/<%= @content.id %>.json"></div>
</div>

<h1><%= @content.user_id %></h1>
<h1><%= @content.id %></h1>
<h1><%= @content.provider %></h1>
